<html ng-app="countryApp">
<head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="../Content/Scripts/angular.min.js"></script>
    <script>
        var countryApp = angular.module('countryApp', []);
        countryApp.controller('CountriesCtrl', function ($scope) {
            $scope.countries = ['Ukraine', 'China', 'India'];
        });
    </script>
</head>
<body ng-controller="CountriesCtrl">
    Search:
    <input type="text" ng-model="search" />
    <ul>
        <li ng-repeat="country in countries | orderBy:'toString()' | filter:search" >{{country | uppercase}}</li>
    </ul>
</body>
</html>
